body{
    background-color:purple;
    
    font-family: oxygen;
    color:white;
}
#header-nav{
    background-color: yellow;
    
    
}
#logo-img{
    background: url('../images/restaurant-logo_large.png') no-repeat;
     width:150px;
     height: 150px;
     float: left;
     margin: 10px 10px 10px 0px;
}
.navbar-brand{
    padding: 20px;

}
.navbar-brand h1{
    font-family: 'lora',serif;
    color: green;
    
font-size: 1.5em;
margin-top: 0px;
margin-bottom: 0px;
text-transform: uppercase;
line-height: .75;
font-weight: bold;
text-shadow: 1px 1px 1px lightgreen;

}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand p{
    text-transform: uppercase;
  color: black;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-brand p span{
    vertical-align: middle;
}
#nav-list{
    margin-top: 10px;
   
}
#nav-list a{
    color:darkred;
}
#nav-list li{
font-size: 1.5em;
text-align: center;

}
#nav-list li a:hover{
    
    background-color: gray;

}

#phone a{
   
    padding-bottom: 0px;
    color:darkred;
    text-align:right;
}
#phone div{
   
    color: darkgreen;
    text-align: right;
    padding-right: 15px;
}














/********** Large devices only **********/
@media (min-width: 1200px) {
    .container .jumbotron
{
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    border: 2px solid black;
    height: 670px;
}   
    }

  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
       #logo-img{
        background: url('../images/restaurant-logo_medium.png') no-repeat;
          width:100px;
          height: 100px;
          margin: 5px 5px 5px 0;
      }

      .container .jumbotron
      {
          background: url('../images/jumbotron_992.jpg') no-repeat;
          border: 2px solid black;
          height: 558px;
      }   
      

  }
/**********  small devices only **********/
  @media (max-width:992px )and (min-width: 768px) {
.navbar-brand h1 {
      
       font-size: 1.2em;
    }
    .container .jumbotron
    {
        background: url('../images/jumbotron_768.jpg') no-repeat;
        border: 2px solid black;
        height: 432px;
    }   
   
}
  
  /********** Extra small devices only **********/
  @media (max-width: 767px) {
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
      }
      .navbar-brand h1 { /* Restaurant name */
     
        font-size: 5vw; /* 1vw = 1% of viewport width */
      }
      .navbar-brand p { /* Kosher cert */
        font-size: .6em;
        margin-top: 12px;
      }
      .navbar-brand p img { /* Star-K */
        height: 20px;
      }
      #collapsable-nav a{

        font-size: 1.2em;
       
      }
      #collapsable-nav a span{
        font-size: 1em;
             margin-right:  5px;
               
              }
              #call-btn a{
                  font-size: 1.5em;
                  margin: 0 20px;
                  padding: 10px;
                  border: 2px solid green;
                  background-color: brown;
                  color:white;
                 display:block;
              }
              .container .jumbotron
              {
                  border: 2px solid black;
                  margin-top: 20px;
              padding: 0px;
              }
    }
  /********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
  @media (max-width: 479px) {
   
    }
    